@page "/"

<PageTitle>Demo</PageTitle>

<SwissMap @ref="map" Style="height:400px" OnClick="OnClick"></SwissMap>

@if (map != null)
{
    foreach (var markers in map.MarkersList)
    {
        <p>@markers.Coordinate</p>
    }
}

<div style="height: 480px; width: 640px;">
    <OpenStreetMap></OpenStreetMap>
</div>

@code {
    private SwissMap? map;
    private void OnClick(Coordinate coord)
    {
        map.MarkersList.Add(new Marker() { Type = MarkerType.MarkerPin, Coordinate = coord });
    }
}
