@page "/"

<PageTitle>Demo</PageTitle>

<SwissMap @ref="map" Style="height:400px" OnClick="OnClick"></SwissMap>

@if (map != null)
{
    foreach (var markers in map.MarkersList)
    {
        <p>@markers.Coordinate</p>
    }
}
<br/>

<OpenStreetMap Style="height:400px" Center="new Coordinate(46.77843, 9.67509)"></OpenStreetMap>


@code {
    private SwissMap? map;
    private void OnClick(Coordinate coord)
    {
        map.MarkersList.Add(new Marker() { Type = MarkerType.MarkerPin, Coordinate = coord });
    }
}
