<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet" />
    <link href="OpenLayers.Blazor.Demo.Server.styles.css" rel="stylesheet" />
    <link href="lib/openlayers/ol.css" rel="stylesheet" />
    <link href="_content/OpenLayers.Blazor/OpenLayers.Blazor.css" rel="stylesheet" />
    <script src="lib/openlayers/dist/ol.min.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/dark.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/font-awesome/css/all.min.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.highlightSnippet = function () {
            hljs.highlightAll();
        }
    </script>
</body>

</html>
