@using System.Globalization
@using System.Diagnostics
@using System.Reflection
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            (@CultureInfo.CurrentCulture)
            <a href="https://github.com/lolochristen/OpenLayers.Blazor" target="_blank">GitHub</a>
        </div>

        <article>
            @Body
        </article>
    </main>
</div>