<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="favicon.png" height="24px"/> OpenLayers.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/markersdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Markers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/layersdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Layers Change/Bind
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/swissmaplayersdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Swiss Map Layers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/shapesdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Shapes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/openstreetmapdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Open Street Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/geojsondemo">
                <span class="oi oi-plus" aria-hidden="true"></span> GeoJson
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bingmapdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Bing Map
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/customdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Custom Map
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/drawdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Draw Shapes (Swiss)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/drawdemo/osm">
                <span class="oi oi-plus" aria-hidden="true"></span> Draw Shapes (OSM)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/gdzdemo">
                <span class="oi oi-plus" aria-hidden="true"></span> Germany GDZ Demo
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/flighttracker">
                <span class="oi oi-plus" aria-hidden="true"></span> Flight Tracker
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/events">
                <span class="oi oi-plus" aria-hidden="true"></span> Events
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}