@page "/drawdemo"
<h3>DrawDemo</h3>

<div class="m-2">
    <button class="btn btn-primary" @onclick="Draw">Draw</button>
</div>


<div class="container">
    <SwissMap @ref="_map" Style="border:1px solid silver;height:800px;">
        @*        <Popup>
            <div id="popup" class="ol-box">
            </div>
        </Popup>
*@    
        <Features>
            <Line Points="new []{new Coordinate(1197650, 2604200), new Coordinate(1177650, 2624200)}" BorderColor="red"></Line>
        </Features>
    </SwissMap>
</div>


@code {
    private SwissMap _map = null!;

    private async Task Draw()
    {
        await _map.EnableInteraction("Polygon");
    }

}
