@page "/shapesdemo"
@using System.Text.Json

<h3>ShapesDemo</h3>


<div class="container">

    <SwissMap @ref="_map" OnClick="OnMapClicked" OnFeatureClick="OnFeatureClicked" Style="border:1px solid silver;height:800px;">
        <Features>
            <Line Points="new []{new Coordinate(1197650, 2604200), new Coordinate(1177650, 2624200)}" BorderColor="cyan"></Line>
            <Circle Coordinate="new Coordinate(1197279.0774135895, 2770557.824138796)" Radius="5" BackgroundColor="#2222AA66"></Circle>
        </Features>
    </SwissMap>
    <p>
        <code>@_featureInfo</code>
    </p>
</div>

@code {
    private SwissMap _map = null!;
    private string _featureInfo;

    private void OnFeatureClicked(Feature feature)
    {
        _featureInfo = JsonSerializer.Serialize(feature);
    }

    private void OnMapClicked(Coordinate coordinate)
    {
        _map.ShapesList.Add(new Circle(coordinate, 3) { BackgroundColor = "cyan" });
    }
}
