@using System.Reflection
@if (_code != null)
{
    <div class="container m-3" style="overflow: auto; width: 80%">
        <h5>@Source</h5>
        <pre class="code"><code class="html">
        @_code
        </code></pre>
    </div>
}

@code {
    private string? _code;

    [Inject]
    private IJSRuntime _js { get; set; }

    [Parameter]
    public string? Source { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Source == null)
            return;

        var assembly = Assembly.GetExecutingAssembly();
        var name = assembly.GetManifestResourceNames().FirstOrDefault(p => p.EndsWith(Source));

        if (name == null)
            return;

        using TextReader reader = new StreamReader(assembly.GetManifestResourceStream(name));
        _code = await reader.ReadToEndAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _js.InvokeVoidAsync("highlightSnippet");
    }

}