@page "/bingmapdemo"
@rendermode Components.RenderMode.DefaultRenderMode

<div class="card mt-2 mb-2">

    <div class="card-header">
        <h3 class="card-title">Bing Maps</h3>
    </div>

    <div class="card-body">
        <input type="text" @bind-value="_key" width="400px" placeholder="Your Bing Maps Key from https://www.bingmapsportal.com/ ">
        <select @bind="_layerselect">
            <option value="Aerial">Aerial</option>
            <option value="AerialWithLabelsOnDemand">Aerial with labels</option>
            <option value="RoadOnDemand" selected>Road</option>
            <option value="CanvasDark">Road dark</option>
            <option value="OrdnanceSurvey">Ordnance Survey</option>
        </select>
    </div>
</div>

@if (!string.IsNullOrEmpty(_key))
{
    <BingMap Style="height: 800px;" Class="card" ImagerySet="@(_layerselect != null ? Enum.Parse<BingMapImagerySet>(_layerselect) : BingMapImagerySet.RoadOnDemand)" Key="@_key"></BingMap>
}

<CodeView Source="BingMapDemo.razor" />

@code {
    private string? _layerselect;
    private string? _key;
}
