@page "/geojsondemo"
@using System.Text.Json

<div class="card mt-2 mb-2">

    <div class="card-header">
        <h3 class="card-title">GeoJson</h3>
    </div>
    <div class="card-body">
        <button class="btn btn-primary" @onclick="LoadGeoJson">Load geojson</button>
    </div>
</div>

<SwissMap @ref="_map" Style="height:800px;" Class="card"></SwissMap>

<CodeView Source="GeoJsonDemo.razor"/>

@code {
    private SwissMap _map = null!;

    [Inject]
    private HttpClient HttpClient { get; set; }

    private async Task LoadGeoJson(MouseEventArgs obj)
    {
        // e.g. https://labs.karavia.ch/swiss-boundaries-geojson or https://api3.geo.admin.ch/services/sdiservices.html
        var json = await HttpClient.GetFromJsonAsync<JsonElement>("https://labs.karavia.ch/swiss-boundaries-geojson/geojson/2020/swissBOUNDARIES3D_1_3_TLM_LANDESGEBIET.geojson");
        await _map.LoadGeoJson(json);
    }
}