@page "/openstreetmapdemo"
@rendermode Components.RenderMode.DefaultRenderMode

<div class="card mt-2 mb-2">
    <div class="card-header">
        <h3 class="card-title">OpenStreetMap</h3>
    </div>
    <div class="card-body">
    <pre>
Center: @_center
VisibleExtent: @_map?.VisibleExtent
Zoom: @_map?.Zoom
    </pre>
    </div>
</div>

<OpenStreetMap @ref="_map" Style="height:480px; width:640px" Class="card mb-2" @bind-Center="_center">
    <Layers>
        <Layer SourceType="SourceType.VectorKML"
               Url="https://openlayers.org/en/latest/examples/data/kml/2012-02-10.kml"
               FormatOptions="@_kmlOptions">
        </Layer>
    </Layers>
</OpenStreetMap>

<OpenStreetMap Style="height:800px" Class="card" Zoom="5" @bind-Center="_center" ScaleLineUnit="ScaleLineUnit.US">
    <Layers>
        <Layer SourceType="SourceType.TileWMS"
               Url="https://sedac.ciesin.columbia.edu/geoserver/ows?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=gpw-v3%3Agpw-v3-population-density_2000&LANG=en"
               Opacity=".3"
               CrossOrigin="anonymous">
        </Layer>
    </Layers>
</OpenStreetMap>

<CodeView Source="OpenStreetMapDemo.razor"/>

@code {
    private Coordinate _center = new(7.6, 46.5);
    private OpenStreetMap _map;
    private dynamic _kmlOptions = new { ShowPointNames = true, ExtractStyles = true };
}