@page "/openstreetmapdemo"
@rendermode Components.RenderMode.DefaultRenderMode

<div class="card mt-2 mb-2">
    <div class="card-header">
        <h3 class="card-title">OpenStreetMap</h3>
    </div>
    <div class="card-body">
    <p>Demo with a loaded KML Layer on first map, custom WMS source on second map, synced center and a Graticule Layer on second map.</p>
    <pre>
Center: @_center
VisibleExtent: @_map?.VisibleExtent
Zoom: @_map?.Zoom
    </pre>
    </div>
</div>

<OpenStreetMap @ref="_map" Style="height:480px" Class="card mb-2" @bind-Center="_center">
    <Layers>
        <Layer SourceType="SourceType.VectorKML"
               Url="https://openlayers.org/en/latest/examples/data/kml/2012-02-10.kml"
               FormatOptions="@_kmlOptions">
        </Layer>
    </Layers>
</OpenStreetMap>

<OpenStreetMap Style="height:480px" Class="card" @bind-Center="_center" ScaleLineUnit="ScaleLineUnit.US">
    <Layers>
        <Layer SourceType="SourceType.TileWMS"
               Url="https://sedac.ciesin.columbia.edu/geoserver/ows"
               Opacity=".3"
               Format="image/png"
               Layers="gpw-v3:gpw-v3-population-density_2000"
               CrossOrigin="anonymous">
        </Layer>
        <Layer SourceType="SourceType.Graticule" />
    </Layers>
</OpenStreetMap>

<CodeView Source="OpenStreetMapDemo.razor"/>

@code {
    private Coordinate _center = new(7.6, 46.5);
    private OpenStreetMap _map;
    private dynamic _kmlOptions = new { ShowPointNames = true, ExtractStyles = true };
}